[submodule "themes/emhugo"]
	path = themes/emhugo
	url = https://github.com/emmalexandria/emhugo
[submodule "themes/Alexandria"]
	path = themes/Alexandria
	url = https://github.com/emmalexandria/Alexandria
