/* fira-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf'), format('truetype');

}

/* roboto-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
  /* IE9 Compat Modes */
}